@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: auto;
    height: auto;
    overflow-x: hidden;
}

header {
    height: auto;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 110px;
    gap: 10%;
    align-items: center;
    justify-content: space-around;
}

.container-Nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.container-Nav img {
    width: 176px;
}

.campoPesquisa {
    position: relative;
}

.campoPesquisa input {
    width: 393px;
    padding: 15px 16px;
    border-radius: 20px;
    border: none;
    background-color: #F5F5F5;
    outline: none;
}

.campoPesquisa img {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 5%;
    top: 25%;
}

.campoPesquisa input::placeholder {
    color: #A2A2A2;
}

.campoPesquisa input:focus {
    border: none;
}

button {
    width: 182px;
    border: 1px solid #2A7AE4;
    padding: 16px;
    background: none;
    color: #2A7AE4;
    cursor: pointer;
}

.banner {
    background-image: url(../imgs/Banner.png);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 64px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.container-Banner {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-Banner h1 {
    font-weight: 700;
    font-size: 52px;
    color: #fff;
}

.container-Banner p {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}

.buttonAzul {
    background-color: #2A7AE4;
    color: #fff;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F5F5F5;
    padding-bottom: 64px;
}

.categoria {
    width: 75%;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.topo-Categoria {
    display: flex;
    justify-content: space-between;
}

.containerVerTudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #2A7AE4;
    font-size: 16px;
    font-weight: 700;
    
}

.containerVerTudo a{
    text-decoration: none;
    color: #2a7ae4;
}
.containerCategoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 20px;
}

.imgProduto {
    width: 176px;
    height: 174px;
}

.nomeProduto {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}

.valorProduto {
    font-size: 16px;
    font-weight: 700;
    color: #464646;
}

.verProduto {
    font-size: 16px;
    font-weight: 700;
    color: #2A7AE4;
    text-decoration: none;
}

footer {
    width: 100%;
    height: auto;
}

.informacoes {
    background-color: #EAF2FD;
    width: 100%;
    height: 85%;
    padding: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInformacoes {
    width: 80%;
    display: flex;
    gap: 116px;
    flex-wrap: wrap;
}

.informacoes-Logo {
    flex-grow: 1;
}

.informacoes-Sobre {
    display: flex;
    flex-direction: column;
    gap: 26px;
    flex-grow: 1;
}

.informacoes-Faq {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 8px;
}

.informacoes-Faq h4 {
    font-weight: 700;
    font-size: 16px;
}

 .campos {
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

 .campos input,
 .campos textarea{
    outline: none;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    resize: none;
    border: none;
}

.campos textarea{
    height: 100px;
}

 .campos span {
    position: absolute;
    padding: 20px 15px;
    color: #A2A2A2;
    transition: 0.5s;
    pointer-events: none;
}

.campos input:valid~span,
.campos textarea:valid~span {
    padding: 5px 15px;
    font-size: 14px;
}

.campos input:focus~span,
.campos textarea:focus~span {
    color: #2A7AE4;
    padding: 5px 15px;
    font-size: 14px;

}

.campos input:focus,
.campos textarea:focus {
    border-bottom: 1px solid #2A7AE4;
}


.rodape {
    height: 15%;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAddProduto, .containerLogin{
    width: 30%;
    min-width: 392px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 16px;
}

.containerAddProduto .buttonAzul,
.containerLogin .buttonAzul {
    width: 100%;
}

.containerLogin{
    padding: 30px;
}

.containerLogin h1{
    text-align: center;
}

.navLogin{
    justify-content: left;
    padding-left: 12%;
}

.containerProduto{
    width: 75%;
    height: 420px;
    display: flex;
    gap: 16px;
    margin-top: 64px;
}

.containerProduto img{
    width: 45%;
}


.containerProduto .sobreProduto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    gap: 8px;
}


.containerProduto .sobreProduto h1{
    font-size: 4rem;
    font-weight: 500;
}

.containerProduto .sobreProduto span{
    font-weight: 700;
}

.produtos{
    display: flex;
    gap: 8px;
}

.lista-todos-produtos{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 64px 22px;
}

.botao-remover{
    background-color: #2A7AE4;
    color: #fff;
    cursor: pointer;
}

.botao-editar{
    width: 182px;
    padding: 16px;
    font-size: 15px;
    text-align: center;
    background-color: #2A7AE4;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    
}

.botao-editar:hover{
    background-color: #3949AB;
}
.botao-remover:hover{
    background-color: #C62828;
    border-color: #C62828;
}
